body {
  background-color: black;
  background-image: url("../../src/images/app-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Indie Flower', cursive;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.splash-container {
  background-image: url("../../src/images/splash-bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
}

.app-title {
  font-size: 80px;
  text-shadow: 3px 3px black;
}

.app-subtitle {
  font-size: 40px;
  font-family: 'Satisfy', cursive;
  text-shadow: 2px 2px black;
}