.message-container {
  background-color: rgba(145, 208, 215, .8);
  height: 100px;
  width: 400px;
  margin-left: 700px;
  margin-top: 60px;
  border-radius: 20px;
  overflow: hidden;
  animation: slide-in 19s infinite;
}

.message-text { 
  word-wrap: break-word;
  color: white;
  position: relative;
  margin: 15px;
}

@keyframes slide-in {
  0% {
    transform: translate3d(200%, 0, 0);
    visibility: visible;
  }
  10% {
    transform: translate3d(0, 0, 0);
  }
  90% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(200%, 0, 0);
    visibility: visible;
  }
}