.message-container {
  background-color: #EDD7ED;
  height: 100px;
  width: 400px;
  margin-left: 700px;
  margin-top: 60px;
  border-radius: 20px;
}

.message-text { 
  color: white;
  position: relative;
  margin: 15px;
}